<div class="container-fluid test" [hidden]="user">
  <form class="form-signin">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1> <i class="fa fa-phone text-styling " aria-hidden="true"> Phone Auth</i></h1>
    <p>Please enter your mobile number to verify Login</p>
    <div class="row">
      <div class="col">
        <input type="text" [(ngModel)]="phoneNumber.country" class="input form-control" placeholder="+91" maxlength="2"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-3">
        <input type="text" [(ngModel)]="phoneNumber.area" class="input form-control" placeholder="xxx" maxlength="3"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-3">
        <input type="text" [(ngModel)]="phoneNumber.prefix" class="input form-control" placeholder="xxx" maxlength="3"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-3">
        <input type="text" [(ngModel)]="phoneNumber.line" class="input form-control" placeholder="xxxx" maxlength="4"
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <br />
    <div id="recaptcha-container"></div>
    <br />
    <button class="btn btn-lg btn-primary btn-block" (click)="sendLoginCode()">SMS Text Login Code</button>

    <div *ngIf="windowRef.confirmationResult">
      <hr>
      <label for="code">Enter your Verification Code Here</label><br>
      <input type="text" name="code" [(ngModel)]="verificationCode" class="input form-control" [ngModelOptions]="{standalone: true}">
      <br />
      <button class="btn btn-lg btn-primary btn-block" (click)="verifyLoginCode()">Continue</button>
    </div>
  </form>
</div>
<div class="container-fluid test" *ngIf="user">
  <form class="form-signin" [hidden]="newcheck">
    <p style="margin-left: 20px;">Please scan the generated barcode</p>
    <div style="margin-left: 95px;">
      <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value">
      </ngx-qrcode>
    </div>
    <br>
    <input type="text" class="form-control" [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
    <br>

    <button class="btn btn-lg btn-primary btn-block" (click)="barcodeCheck()">Verify</button>

  </form>
  <div *ngIf="newcheck == true">
    <h1 class="text-styling text-center">You have successfully logged in with your phone number!</h1>
    <br>
    <h3 class="text-center">UserId: {{ user?.uid }}</h3>
  </div>

</div>